/*
    Page Header
*/


.blink { animation: blink 1s steps(5, start) infinite; }
@keyframes blink {
    to {
        visibility: hidden;
    }
}

.alert_msg {
	color: #FF0000;
	font-size: 9px;
	font-style: italic;
}

.display_msg {
	color: #0000FF;
	font-size: 9px;
	font-style: italic;
}
body { background-color: #FAF3F3}
.main {text-align:center}


.container { width: 100%}

.apps-container {
	width: 90%;
	height:auto;min-height:500px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	font-family:Verdana; font-size:8pt; font-weight:normal; color:#475E62;
}

.page_header { 
	background: url(default/header.jpg);
	height: 120px
}

select {
width: 300;
}


.page_footer { background-color: #0A0A0A; }

.navigation_menu { background-color: #F2F2F2; }
.font_title { font-family:Verdana; font-size:14pt; font-weight:normal; color:#475E62; }
.font_welcome { font-family:verdana; font-size:8pt; font-weight:bold; color:#FFFFFF; }
.font_login { font-family:Verdana; font-size:8pt; color:#FFFFFF;  font-weight:bold}
.login_input { background-color: white; width: 50px; font-family:Verdana; font-size:8pt;}
.login_button { background-color: #FFF8C0;   font-family:Verdana; font-size:8pt;}
.button_top { background-color: #FFF8C0; width: 80px; font-family:Verdana; font-size:8pt;}
.font_footer { font-family:Verdana; font-size:8pt; color:#FFFFFF; }
.font_role { font-family:Verdana; font-size:8pt; color:#ffffff; }
.font_role_select { font-family:Verdana; font-size:8pt; color:#ffffff;  font-weight:bold}


.tab_role { background: url(default/rolebg.png); width:100px; height:24px; }
.tab_role1 { background: url(default/role1.png); width:100px; height:24px; text-align:center; }
.tab_role2 { background: url(default/role2.png); width:100px; height:24px; text-align:center; }

/*
    Normal href
*/
a { color:#000000; text-decoration:none;}
a:hover { text-decoration:none; }

/*
    Navigation href
*/
a.nav_link { font-family: Verdana; font-size:8pt; text-decoration:none;  color: #000000; font-weight: bold; }
a:hover.nav_link {font-family: Verdana; font-size:8pt; text-decoration:none; color: red; font-weight: bold; }

a.nav_link_active { font-family: Verdana; font-size:8pt; text-decoration:none; color: #ffffff; font-weight: bold;}
a:hover.nav_link_active { font-family: Verdana; font-size:8pt; text-decoration:none;color: red; font-weight: bold;}

/*
    Navigation background without graphics
*/

.nav_background {
    /* background-color: #B29E83;  */
}
.nav_background_top  {
    height: 12px;
	/* background-color: #B29E83;   */
}
.nav_background_bot  { 
    height: 1px;
    background-color: #B29E83;
}
.nav_background_top_left  { 
     width: 1px;
	background-color: #B29E83;    
}
.nav_background_top_right  {  
	/* background-color: #B29E83;    */
}
.nav_background_bot_left  { 
	background-color: #B29E83;
}
.nav_background_bot_right  { 
	/* background-color: #B29E83; */
}
.nav_background_left  { 
	background-color: #B29E83;
}
.nav_background_right  { 
    /* background-color: #B29E83; */
}


.nav_background_active 
{ 

    font-weight: bold;
    background-color: #9D9D9D;
    text-align:right; 
}
.nav_background_top_active  
{ 
	height: 12px;
	background-color: #9D9D9D;

}
.nav_background_bot_active  
{ 
	height: 6px;
	background-color: #9D9D9D;

}
.nav_background_top_left_active  { 
	width: 2px;
	background-color: #121212;
}
.nav_background_bot_left_active  
{ 
	width: 2px;
	background-color: #121212;
}
.nav_background_top_right_active  {
	width:5px; 
	background-color: #9D9D9D;
}
.nav_background_bot_right_active  { 
	background-color: #9D9D9D;
}
.nav_background_left_active  
{
	width: 2px; 
	background-color: #121212;
}
.nav_background_right_active  
{ 
	background-color: #9D9D9D;
}


/*
    Tab href
*/

div.pulldown_menu, a.pulldown_menu
{
  width: 150px;
  border: 0.5px solid #B1A3A0;
  background: #B29E83;
  padding: 4px 10px;

}

a.pulldown_menu
{
  display: block;
  border-bottom: 0.5px solid #B1A3A0;
  text-decoration: none;
  font-family:Verdana; font-size:8pt; text-decoration:none;
}

a:hover.pulldown_menu
{
  display: block;
  border-bottom: 0.5px solid #006699;
  text-decoration: none;
  font-family:Verdana; font-size:8pt; text-decoration:none; color: #ffffff;
  background: #006699;
}

a.tab_link { font-size:8pt; text-decoration:none; color: #D5DFEB;}
a.tab_link_active { font-size:8pt; text-decoration:none; color: #000000;}
a:hover.tab_link { font-size:8pt; text-decoration:none; color: #C00000;}
a:hover.tab_link_active { font-size:8pt; text-decoration:none; color:  #C00000; }

/*
    Tab background
*/  

.tab 
{ 
	background-color: lightgrey; 
	background: url(default/tab_bg.png)
}
.tab_background_base 
{ 
	background-color: #ffffff;
}

.tab_background  
{ 
    height: 32px;
	background:  url(default/tab_face.png);
    text-align: center;
    background-color: #ffffff;
}
.tab_background_active 
{ 
	height: 32px;
	background:  url(default/tab_face_active.png);
    text-align: center;
    background-color: #ffffff;
}
.tab_background_gap1 
{ 
    background-color: #ffffff;
}
.tab_background_gap2 
{ 
    background-color: #ffffff;
}

.tab_background_left  
{ 
	background:  url(default/tab_left.png);
    width: 5px;
}
.tab_background_right  
{ 
	background:  url(default/tab_right.png);
    width: 5px;
}
.tab_background_left_active  
{ 
	background:  url(default/tab_left_active.png);
    width: 5px;
}
.tab_background_right_active  
{ 
	background:  url(default/tab_right_active.png);
    width: 5px;
}

/*
	Tab's Title for Top navigation
*/
.tab_title
{
	height: 60px;
	font-family: Verdana;
	font-size: 16pt;
	font-weight: bold;
}


/*
	Top Module
*/ 

.top_menu_background 
{ 
	height: 22px;
    background-color: #333333;
}

.top_menu_active 
{ 
	height: 22px;
    text-align: center;
	color: #FFFFFF;
    background-color: #99CCFF;
}

.top_menu 
{ 
	height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #B29E83;
}



/*
    Module Title 
*/
.module_title 
{ 
    height: 20px;
    background-color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    font-size: 11pt;
    color:#999966;
    
}
.module_title_left 
{
    width: 24px;
   	background: url(default/beeico.gif)
}
.module_title_right 
{ 
    width: 0px;
    background-color: #ffffff;
 
}
.module_title_bot 
{ 
    height: 3px;
    background-color: #B29E83;
}
.module_title_left_bot 
{ 

}
.module_title_right_bot 
{ 
    /* background-color: orange; */
}

/*
    Module frame
    The color is the same as .tab_background_base
*/
table.module_frame 
{
    border-top:     
	0px solid  #228AB7;
	border-bottom:  0px solid  #228AB7;
	border-right:   0px solid  #228AB7;
	border-left:    0px solid  #228AB7; 
}

/*
	Table elements
*/

.table_header { background-color: #B29E83; font-weight: normal;}
.table_header2 { background-color: #FFCC00; font-weight: normal; text-align: center }
.table_row { background-color: #FFE2BC}
.table_row2 { background-color: #B29E83 }
.table { background-color: #FFF8B9 }


/*
    Other elements
*/
input { font-family:Verdana; font-size:8pt }
input.cb { BORDER-BOTTOM: none; BORDER-LEFT: none; BORDER-RIGHT: none; BORDER-TOP: none; }
input.checkbox { BORDER-BOTTOM: none; BORDER-LEFT: none; BORDER-RIGHT: none; BORDER-TOP: none; }
input.single_border { font-family:verdana; font-size:8pt; BORDER-BOTTOM: 1px solid;   BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; }
textarea { font-family:verdana; font-size:8pt; }
textarea.single_border { font-family:verdana; font-size:8pt; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; }
select { font-family:verdana; font-size:8pt; }

/*
    Table elements
*/
td { color: #FFBABA; font-size: 8pt; font-family: Verdana; font-weight: normal; }

/*  Alternating rows changing row color between row1 and row2 */
td.row1 { background-color: #FFFFFF; color: #000000; font-size: 8pt; font-family: verdana; font-weight: normal; }
td.row2 { background-color: #E6E6E6; color: #000000; font-size: 8pt; font-family: verdana; font-weight: normal; }
td.selected { background-color: #CBECF9; color: #000000; font-size: 8pt; font-family: verdana; font-weight: normal; }

/*
td.table_head { background-color: #516E8F; color: #FFFFFF; font-size: 10pt; font-family: verdana; font-weight: normal; }
td.cell_head { background-color: #C4D5E9; color: #000000; font-size: 10pt; font-family: verdana; font-weight: normal; }
*/
td.table_head { background-color: #0B3A6E; color: #FFFFFF; font-size: 8pt; font-family: verdana; font-weight: normal; }
td.cell_head { background-color: #FFA800; color: #000000; font-size: 8pt; font-family: verdana; font-weight: normal; }

/*
    Style for Announcement
*/
td.ann_date { color: #FFFFFF; font-size: 8pt; font-family: Verdana; font-weight: normal; font-style: italic; }

/*
    Style for Mini Announcement
*/
a.ann_more { font-size:8pt; color: #000000; font-weight: normal;  text-decoration:underline;}
a:hover.ann_more { font-size:8pt; color: #FF0000; font-weight: normal; text-decoration:underline;}
td.mini_ann_date { font-size: 7pt; color: #000000; font-family: verdana; font-weight: normal; font-style: normal; }
td.mini_ann_cell { background-color: #FFA800; color: #000000; font-size: 8pt; font-family: verdana; font-weight: normal; }

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly]
{
 background-color: #dcdcdc;
 border: #3532ff 1px solid;
 color: #000000;
 cursor: default;
} 


.labelmandatory {
     font-size: 10px; color: #FF0000; 
}

.labelwar {
      font-size: 9px;
      color: #000000;
}

.labelinput {
      font-size: 10px; color: #000000; 
}


input[type=text],input[type=radio], input[type=checkbox], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #7E9343;
}
/*search textarea:focus,select:focus
then comment*/
 
input[type=text]:focus,input[type=radio]:focus,input[type=checkbox]:focus,textarea:focus, select:focus {
  box-shadow: 0 0 10px #7E9343;
  border: 1.5px solid #7E9343;
  /*amik kaler bg legend*/
}
input[type=text]:hover,input[type=radio]:hover,input[type=checkbox]:hover,textarea:hover, select:hover {
  box-shadow: 0 0 10px #7E9343;
  border: 1.5px solid #7E9343;
  /*amik kaler bg legend*/
}
/* adjust welcome sekali */