# ignore all logs
velocity.log
velocity.log.1

# ignore all class
*.class

# ignore all properties
*.properties
WEB-INF/src/*.properties
WEB-INF/src/dbconnection.properties

WEB-INF/src/META-INF/persistence.xml

work/
.tomcatplugin

WEB-INF/classes/
