<div class="page_footer_body">
	<div class="page_footer">
		<div class="page_footer2020">
			<div class="hakcipta"><span>$!session.getAttribute("hakcipta")</span></div>
			<div class="jabatan"><span class="bold">$!session.getAttribute("pemilik")</span></div>
		</div>
	</div>
</div>
<!--
<table  width="100%"  border="0" cellspacing="0" cellpadding="0">
	<tr>		
		<td align="center" class="page_footer">
		
		&copy; Kementerian Sumber Asli & Alam Sekitar
		<font size="1" face="Tahoma"><br>PENAFIAN:</font>
		<font size="1" face="Tahoma">Kerajaan Malaysia tidak bertanggungjawab terhadap sebarang 
		kehilangan atau kerosakan yang dialami kerana menggunakan maklumat dalam laman ini.</font></p>
		<p style="font-size: 10px; font-style: normal;" align="center">
		<strong>Paparan terbaik menggunakan browser Internet Explorer 8.0 dan Mozilla Firefox</strong></p>
		</td>	
	</tr>
</table>

<div class="page_footer">
		
		&copy; Kementerian Sumber Asli & Alam Sekitar
		<font size="1" face="Tahoma"><br>PENAFIAN:</font>
		<font size="1" face="Tahoma">Kerajaan Malaysia tidak bertanggungjawab terhadap sebarang 
		kehilangan atau kerosakan yang dialami kerana menggunakan maklumat dalam laman ini.</font></p>
		<p style="font-size: 10px; font-style: normal;" align="center">
		<strong>Paparan terbaik menggunakan browser Internet Explorer 8.0 dan Mozilla Firefox</strong></p>

</div>
-->
