body {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-align:center;
	background-color: #666;
	/* background: url("./css/eTapp_Login/img/bg_body.png"); */
}
	
#logincontent {
	width:100%;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	
}

#loginfooter {
	font-size:10px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
}

input{
	border:1px solid #93C2AE;
	padding: 0px;
}
a:link, a:visited { 
	color : #0000CD;
	font-size: 0.55em;
	font-weight: bold;
	font-family: Arial;
	background : inherit;
	text-decoration : underline;
} 

a:hover { 
	color : #800000;
	background : inherit;
	text-decoration : underline;
}
input.blueinput:focus, textarea.blueinput:focus {
	border:1px solid #93C2AE;
	/*background-color: #FAF8CC;*/
}
.label-top label {
	display:block;
	}
form label {
	font-size:0.8em;
	font-family: Verdana, sans-serif;
	/*margin-bottom:0.4em;*/
	font-weight:bold;
	}
#button {
	font-size:0.8em;
	cursor:pointer;
	/*float:left;*/
	padding: 0px;
	width:90px;
	height:36px;
	/*-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
	border-radius:.3em;*/
	-moz-box-shadow:0 2px 4px #aaaaaa;
	-webkit-box-shadow:0 2px 4px #aaaaaa;
	box-shadow:0 2px 4px #aaaaaa;
	margin:0;
	border:0px;
	color:#000000;
	background:url('./img/button_masuk.png');
	}
.email-support {
	width:137px;
	height:13px;
	cursor:pointer;
	/*position:absolute;*/
}

/* ------------ Start EditBy zulfazdliabuas@gmail.com For New Design Login Date 8/10/2017 ------------ */
.body-regular {
	text-align:left;
	font-size: 0.7em;
	/*cursor:pointer;
	float:left;*/
	padding:0;
	font-family: Verdana, sans-serif;
	/*-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em;
	-moz-box-shadow:0 1px 8px #ffffff;
	-webkit-box-shadow:0 1px 8px #ffffff;
	box-shadow:0 1px 8px #ffffff;*/
	margin:30px 0px 0px 0px;
	/*border-top:2px solid #ECD872;
	border-bottom:2px solid #ECD872;*/
	color:#000;
	/* background:#666; */
	width:1024px;
}
/* .body-header {
	width:1024px;
	height:35px;
	background : url('img/main/top-banner.png') no-repeat;
} */
.body-title {
	width:1024px;
	height:150px;
	/* background : url('img/main/banner-JKPTG.png') no-repeat; */
	background : url('./img/header_internal.png') no-repeat;
	float: left;
}
.body-content {
	width:1024px;
	height:355px;
	/* background : url('img/main/middle-banner.png') no-repeat; */
	background : url('./img/content_hijau.png') no-repeat;
	/* background: #fff; */
	float: left;
}
/* .body-banner {
	width:1024px;
	height:214px;
	background : url('img/main/banner-MyEtapp.png') no-repeat;
} */
.body-footer {
	width:1024px;
	/* height:38px;
	background : url('img/main/bottom-banner.png') no-repeat; */
	height:79px;
	background : url('./img/footer_biru.png') no-repeat;
	float: left;
}
.login-body {
	/*text-align:left;*/
	font-size: 0.7em;
	/*cursor:pointer;*/
	/* float:left; */
	/*padding:5px 10px 10px 9px;*/
	-moz-border-radius:0 0 1em 1em;
	-webkit-border-radius:0 0 1em 1em;
	border-radius:1em 1em 1em 1em;
	-moz-box-shadow:0 1px 15px #000000;
	-webkit-box-shadow:0 1px 15px #000000;
	box-shadow:0 1px 15px #000000;
	/* margin:30px 25px; */
	margin: 0 auto;
	/* border:2px solid #ECD872; */
	/*border-bottom:2px solid #ECD872;*/
	color:#000000;
	background:url('./img/bg_login.png') no-repeat;
	width:290px;
	height:85%;
	/*width:30%;*/
}
.login-header {
	border-radius: 10px;
	width:293px;
	/* height:62px; */
	/* background : url('img/main/login-title.png') no-repeat; */
	background:url('./img/bg_login.png') no-repeat;	
}
.header_login{
	border: 2px solid #d8d9f2;
    height: 40px;
    border-radius: 10px 10px 0 0;
    background: rgba(57, 133, 191, 0.65);
}


.content_login{
	/* float: right; */
	/* border: 2px solid #d8d9f2; */
	margin: 0 auto;
	width: 40%;
	text-align: center;
}

.log_masuk{
	/* border: 1px solid; */
	font-weight: bold;
    color: #fff;
    font-size: 14px;
    margin: 10px 0px 0px 40px;
    padding: 0px;
    height: 16px; 
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.title_footer{
	/* margin: 5px; */
    text-align: center;
    padding: 20px;
    color:#fff;
    font-size: 12px;
}

.bold{
	font-weight: bold;
}

.hakcipta{
	margin:5px;
}

.jabatan{
	margin:5px;
}


.log_masuk_icon{
    /* border: 1px solid; */
    background: url(./img/icon_logmasuk.png) no-repeat;
    width: 35px;
    height: 36px;
    float: left;
    margin: 2px;
}

.icon_user{
	background: url(./img/user.png) no-repeat;
    width: 35px;
    height: 36px;
    /* float: left;
    margin: 2px; */
}
.input_user{
	float: left;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}
/* ------------ End EditBy zulfazdliabuas@gmail.com For New Design Login Date 8/10/2017 ------------ */
