<div class="regular" id="div_list" name="div_list" style="position:fixed;visibility:" + $divList + ";width:90%;">
<table width="90%" border="0" cellpadding="1" cellspacing="1" align="center">
    <tr>
        <td valign="top" nowrap><label for="fail">No Fail</label></td>
        <td valign="top">:</td>
        <td valign="top">$!details.fail.noFail</td>
    </tr>
    <tr>
        <td valign="top" nowrap><label for="permohonan">No Permohonan</label></td>
        <td valign="top">:</td>
        <td valign="top">$!details.noPermohonan</td>
    </tr>
    <tr>
        <td valign="top" nowrap><label for="tarikhMohon">Tarikh Permohonan</label></td>
        <td valign="top">:</td>
        #set ( $dateTP = "" )
        #if ( $details.tarikhPermohonan )
        	#set ( $dateTP = $dateFrmt.format($details.tarikhPermohonan) )
        #end
		<td valign="top">$dateTP</td>
	</tr>
    <tr>
        <td valign="top" nowrap><label for="rujSurat">No Rujukan Surat</label></td>
        <td valign="top">:</td>
        <td valign="top">$!details.noRujSurat</td>
    </tr>
    <tr>
        <td valign="top" nowrap><label for="tujuan">Tujuan</label></td>
        <td valign="top">:</td>
        <td valign="top">$!details.tujuan</td>
    </tr>
	<tr>
		<td colspan="3" align="left">
			<input id="button" type="button" value="Tutup" onclick="javascript:getData('')">
		</td>
	</tr> 
</table>
</div>
#set ( $count = 0 )
<div class="content">
<form name="f" method="post">
	<table width="90%" cellspacing="1" cellpadding="3" align="center">
		#if ( $records.size() > 0 )
			<tr class="table_header">
				<td scope="row" align="center"><strong>Bil.</strong></td>
				<td scope="row" align="center"><strong>No Fail Permohonan</strong></td>
				<td scope="row" align="center"><strong>Status</strong></td>
			</tr>
		#else
			<tr class="table_header">
				<td scope="row" align="center"><strong>Makluman!!!</strong></td>
			</tr>
		#end
		#set ( $list = '' )
		#if ( $records.size() > 0 )
			#foreach ( $list in $records )
			#set ( $count = $count + 1 )
			#if ( $count % 2 == 0 ) #set ( $bgcolor = "" ) #else #set ( $bgcolor = "#EBBC5D" ) #end
			<tr id="row_$!list.id" height="30px" style="background-color:$bgcolor;" onmouseout="$('row_$!list.id').style.backgroundColor='$bgcolor'" onmouseover="$('row_$!list.id').style.backgroundColor='#ccc'">
				<td valign="top" align="center">$count.</td>
				#if ( $list.fail.noFail)
					<td valign="top" align="center"><a href="javascript:getData('$list.id')">$list.fail.noFail</a></td>
				#else
					<td valign="top" align="center">BELUM DISAHKAN</td>
				#end
		        #set ( $dateTP = "" )
		        #if ( $list.tarikhPermohonan )
		        	#set ( $dateTP = $dateFrmt.format($list.tarikhPermohonan) )
		        #end
				#if ( $list.status.keterangan != "" )
					<td valign="top" align="center">$!list.status.keterangan</td>
				#else
					<td valign="top" align="center">PENDAFTARAN</td>
				#end
			</tr>
			#end
		#else
			<tr>
				<td align="center" style="background-color:#EBBC5D"><i>Pilihan tidak tepat / Tiada capaian dalam rekod</i></td>
			</tr>
		#end
	</table>
<input type="hidden" name="command">
</form>
<table width="90%" border="0">
    <tr>
        <td nowrap>
        <font color="blue">
        <b>
		#if ( $saveinfo == "Success" )
		    Aduan berjaya dipadam. <br />
		    No rujukan aduan : <u>$idAduan</u>
		#end
        </b>
        </font>
        </td>
    </tr>
</table>
</div>
<script>
function getData(s) { 
	document.f.command.value = s;
	document.f.action = "";     
	document.f.submit(); 
}   
</script>