<script type="text/javascript">
var sBasePath = document.location.pathname.substring(0,document.location.pathname.lastIndexOf('_samples')) ;
var oFCKeditor = new FCKeditor( 'message' ) ;
oFCKeditor.BasePath = '/${appname}/library/fck/' ;
oFCKeditor.Height	= 300 ;
oFCKeditor.Width	= 750 ;
oFCKeditor.Value	= '' ;
oFCKeditor.Create() ;
</script>