
<td class="record_header" style="width:250px;font-weight:bold">Kod Status</td>
<td class="record_header" style="width:500px;font-weight:bold">Nama Status</td>
<td class="record_header" style="width:100px;font-weight:bold">Kategori</td>
