<div class="content">
<table width="90%" border="0" cellpadding="3" cellspacing="1" align="center">
    <tr><td align="justify">Terima kasih kerana menggunakan perkhidmatan mudah alih kami ini. Jika ada sebarang pertanyaan atau cadangan , sila emelkan kepada <a href="mailto:etappsupport@kptg.gov.my">etappsupport@kptg.gov.my</a></td></tr>
</table>
</div>