
<td class="table_header"><strong>No. Fail Permohonan</strong></td>
<td class="table_header"><strong>No. Fail JTS/JTU</strong></td>
<td class="table_header"><strong>No. Fail Lain</strong></td>
##<td class="record_header">No. Fail UPT</td>
<td class="table_header"><strong>Kementerian</strong></td>
<td class="table_header"><strong>Status</strong></td>




